*
{
    padding: 0%;
    margin: 0%;
}
.header-control 

{
   
    background-color:#3B5998;
    width: 100%;
    height: 90px;

}
.control-align
{
    width: 980px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.image-control
{
    float: left;
}
.image-control img
{
    height: 60px;
    width: 250px;
    margin-top: 15px;
    margin-right: 280px;
}
.connexion
{
    width: 200px;
    height: 60px;
    float: right;
    font-family: Arial;
    font-size: 13px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    
}
.connexion p
{
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.inptxt
{
    margin-left: 10px;
    border: none;
    height: 22px;
    width: 200px;
    font-family: Arial;
    font-size: 13px;
    border: 0.5px solid #030721;  

}
.btn
{
    background-color: #49649F;
    color: white;
    font-family: Arial; font-style: unset;
    margin-left: 15px;
    border: none;
    border: 0.1px solid#030721;
    border-radius: 0.5px;
    width: 80px;
    height: 20px;
    
}
.info
{
    margin-left: 10px;
    font-family: Arial;
    font-size: 12px ;
}  
.left
{
    float: left;
    margin-top: 25px;
    width: 400px;
    font-family: Arial;
    color: #0E385F;
    margin-left: 200px;
}
.left h3
{
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px; 
}
.right
{
   
    float: right;
    font-family: Arial;
    color: #333333;
    margin-top: 20px;
    
    
}
.right h1
{
    font-size: 40px;
    margin-right: 360px;
}
.right p
{
    font-size: 18px;
    margin-top: 10px;
}
.ipt
{
    margin-top: 20px;
    margin-left: 01px;
    border-radius: 03px;
    border: none;
    border: 1px solid #BDC7D8;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    font-size: 20px
}
.ipt2
{
    margin-top: 10px;
    margin-left: 01px;
    border-radius: 03px;
    border: none;
    border: 1px solid #BDC7D8;
    height: 30px;
    width: 420px;
    padding-left: 10px;
    font-size: 20px
}
 .date
 {
    
     font-family: Arial;
     color: black;
     font-size:11px;
     
 }
 
.radio
{
    font-size: 16px;
    font-family: Arial;
    
}
.condition p
{
    font-size: 11px;
    font-family: Arial;
}
.btn2
{
    background-color: #2C9F44;
    color: white;
    font-family: Arial; 
    font-size: 20px;
    width: 160px;
    height: 40px;
    border-radius: 08px;
}
.fin p
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Arial;
    color: #333333
}